%h1= 'All Recipes'

.text-end
  = link_to "Add your ingredients", ingredients_path, class: 'btn btn-primary mb-3'

#recipes.d-flex.flex-wrap
  - @recipes.each do |recipe|
    %a{ href: recipe_path(recipe) }
      = render recipe

= will_paginate @recipes, inner_window: 3, outer_window: 1

